form{
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px solid rgb(25, 186, 231);
    color:  rgba(217, 52, 52, 0.791);
    

}

#div_main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 95%;
    /* background-color: rebeccapurple; */
}

#div_student{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    /* background-color: blue; */
    
}

.input_div{
    display: flex;
    height: 25px;
    /* background-color: orange; */
}

.input_label{
    width: 25%;
    height: 100%;
    /* background-color: yellow; */
}

.input_input{

    width: 50%;
    height: 85%;
    border-color: rgba(217, 52, 52, 0.791);
}



#div_input_gender_inner{
    display: flex;
    width: 20%;
}


#input_state{
    height: 100%;
    width: 52%;
    /* background-color: brown; */
    /* border-color: rgba(217, 52, 52, 0.791); */
    border: 2px solid ;
    border-color: rgba(217, 52, 52, 0.791);
    
}


#div_address{
    display: flex;
    width: 77%;
    height: 18%;
    /* background-color: chartreuse; */
}

#input_address{
    display: flex;
    width: 36%;
    height: 100%;
    /* background-color: aqua; */
}


#input_address_textarea{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    border: 2px solid ;
    border-color: rgba(217, 52, 52, 0.791);
    /* background-color: green; */
}


#div_input_telefon_select{
    display: flex;
    width: 51.5%;
    /* background-color: green; */
    justify-content: space-between;
    
}


#input_telefon{
    display: flex;
    width: 80%;
    height: 80%;
    /* background-color: red; */
    border-color:  rgba(217, 52, 52, 0.791);
    
}


#input_telefon_selec{
    width: 15%;
    height: 100%;
    /* background-color: blue; */
    border-color:  rgba(217, 52, 52, 0.791);
    
}




#div_input_herebly{
    display: flex;
    width: 100%;
}




#div_button{
    display: flex;
    justify-content: space-between;
    width: 20%;
    /* background-color: rgb(103, 59, 6); */
}


#input_gender{
    width: 40%;
    
}


#input_gender_inner{
    width: 100%;
    
}



#input_div_inner{
    display: flex;
    /* background-color: blue; */
   
}

#input_div_inner span{
    width: 20%;
    margin-right: 20px;
}