form{
    width: 95vw;
    height: 95vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px solid rgb(25, 186, 231);

}

#div_main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 50%;
    height: 95%;
    background-color: rebeccapurple;
}

#div_student{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    
}

.input_div{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* justify-content: left; */
    /* width: 80%; */
    height: 25px;
    /* background-color: orange; */
}

.input_label{
    /* display: flex; */

    /* flex-direction: column; */
    width: 25%;
    height: 100%;
    
    background-color: yellow;
}

.input_input{
    /* display: flex; */
    /* flex-direction: column; */
    width: 50%;
    height: 85%;
    /* background-color: red; */
}


#input_state{
    height: 100%;
    /* background-color: brown; */
}


#div_address{
    width: 75%;
    height: 18%;
    background-color: chartreuse;
}

#input_address{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    background-color: aqua;
}


#input_address_textarea{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}


#input_telefon{
    width: 50%;
    background-color: red;
}

#input_telefon_select{
    width: 50%;
    background-color: yellow;
}



#div_input_telefon_select{
    background-color: blanchedalmond;
}



#div_input_herebly{
    display: flex;
    width: 100%;
}




#div_button{
    display: flex;
    justify-content: space-between;
    width: 20%;
    /* background-color: rgb(103, 59, 6); */
}


#input_gender{
    width: 40%;
    
}


#input_gender_inner{
    width: 100%;
    
}

#input_telefon_select{
    width: 5%;
}

#input_div_inner{
    display: flex;
    /* background-color: blue; */
   
}

#input_div_inner span{
    width: 20%;
    margin-right: 20px;
}