

body{
    margin: 0;
    padding: 0;
}


#div_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    /* background-color: blue; */
    
}


#div_left{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 14%;
    /* background-color: brown; */
    
    
}


#div_middle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    border: 1px solid grey;
    border-radius: 30px;
    /* background-color: yellow; */
    
}


#div_middle_middle{
    display: flex;
}

#middle_input{
    height: 90%;
    width: 80%;
   
}

#div_middle_left{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    width: 10%;
}


#div_middle_right{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    width: 10%;
}

#div_middle_right svg{
    /* background-color: red; */
}



#div_right{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
    width: 13%;
    /* background-color: orange; */
    
}


#span_id{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: larger;
    
    
    
}

#div_right_right{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 20%;
    height: 40px;
    border: 1px solid;
    border-radius: 47%;
}



#main_container{
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: baseline; */
    height: 100vh;
    width: 100%;
    /* background-color: blue; */
    

}


#div_main_container{
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    
}


#div_main_container_left{
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    width: 15%;
    height: 100%;
    
    /* background-color: blanchedalmond; */

}


#div_main_container_section{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}


#div_main_container_section_free{
    width: 100%;
    height: 3%;
}


#div_main_container_section_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 15%;
    /* background-color: red; */
    /* align-content: space-around;
    justify-content: space-around;   */

}



#div_main_container_section_mid{
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
    /* justify-content: space-around; */
    width: 100%;
    height: 10%;
    border-top: 1px solid rgb(199, 197, 197);
    /* background-color: yellow; */
    align-items: center;
}




#div_main_container_section_under{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
    /* background-color: green; */
    /* align-content: space-around; */
    justify-content: space-around;
    border-top: 1px solid rgb(199, 197, 197);
    align-items: center;

}




#div_main_container_section_last{
    display: flex;
    height: 5%;
    border-top: 1px solid rgb(199, 197, 197);
    /* align-content: center; */
    justify-content: center;
    /* justify-content: space-around; */
    width: 100%;
    /* background-color: orangered; */
}


.icon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: left;
    align-items: center;
}

.icontextdiv_top{
    display: flex;
    height: 100%;
    width: 90%;
    border-radius: 10px;
}



.icontextdiv_mid{
    display: flex;
    height: 100%;
    width: 90%;
    border-radius: 10px;
}


.icontextdiv_under{
    display: flex;
    height: 100%;
    width: 90%;
    border-radius: 10px;
}


.icontextdiv_last{
    display: flex;
    height: 100%;
    width: 90%;
    border-radius: 10px;
    /* background-color: yellow; */
}




.icontextdiv_top:hover, 
.icontextdiv_mid:hover, 
.icontextdiv_under:hover, 
.icontextdiv_last:hover{
    background-color: rgba(128, 128, 128, 0.423);
    cursor: pointer;
}



#div_main_container_right{
    width: 85%;
    height: 100%;
    
    /* background-color: brown; */
    
}




#div_main_container_right_navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    /* background-color: blue */
}




#div_main_container_right_navbar_alt{
    display: flex;
    width: 90%;
    height: 30%;
    

    /* align-items: center; */
    /* justify-content: center; */
    justify-content: space-around;
    /* background-color: red;     */
}






.buttons{
    border: 1px solid rgb(236, 234, 234);
    border-radius: 5px;
    font-weight: 550;
    color: rgb(37, 37, 37);
    background-color: rgb(236, 234, 234);
}



#button1{
    background-color: black;
    color: aliceblue;
}



iframe{
    border-radius: 10px;
}


iframe:hover{
    border-radius: 0;
}



#div_main_container_videos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    justify-content: space-evenly;
    /* background-color: brown; */

}



.video_1{
    width: 27%;
    height: 32%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video_top{
    display: flex;
    width: 100%;
    height: 70%;
    
    /* background-color: yellow; */
}

.video_under{
    display: flex;
    width: 100%;
    height: 27%;
    /* background-color: red; */
}


.guldur_guldur_logo{
    display: flex;
    width: 14%;
    height: 100%;
    justify-content: center;
}

.guldur_guldur_logo img{
    width: 80%;
    height: 50%;
    border-radius: 200%;
}

.video_information{
    width: 100%;
    height: 100%;
}

.video_name{
    font-size: 130%;
}

.canal_name{
    font-size: 80%;
}

.video_information_under{
    font-size: 80%;
}


.video_information_under{
    display: flex;
}


#footer_container{
    background-color: rgb(205, 32, 31);
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: aliceblue;
    margin-top: 100px;
    
}

#footer_top{
    display: flex;
    width: 100%;
    height: 90%;
    /* background-color: green; */
    
    
}

#footer_left{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    /* background-color: red; */
    
}




#footer_left_left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
    /* background-color: red; */
}



#footer_left_right{
    width: 30%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: orange; */
}




#footer_right{
    display: flex;
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
}


#footer_right_left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
    height: 55%;
}


#footer_right_right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 55%;
}



#footer_under{
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-items: end; */
    /* background-color: orange; */
    border-top: 1px solid;
    width: 100%;
    height: 10%;
    
}

#footer_under_under{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    /* border-width: 1px solid; color; */
    /* background-color: blueviolet; */
}


.footer_border{
    border-right: 1.5px solid;
    padding-right: 10px;
    height: 13px;

    /* background-color: blueviolet; */
    padding-top: 0;
    display: flex;
    align-items: center;
    
}


